.__loop,
.loop_title,
.silo_looping,
.widget_title {
    position: relative;
    box-sizing: border-box
}

.loop_title,
.widget_title,
form.sil_search {
    transform: skew(-10deg)
}

.loop_link img,
.recent_links img {
    object-position: center;
    object-fit: cover
}

.silo_looping {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    margin: 30px auto
}

.looping {
    width: 100%;
    box-sizing: border-box;
    display: block
}

.loop_title {
    margin-bottom: 10px
}

span.__title,
span.dot_title {
    background-color: var(--hover);
    color: var(--pt1);
    padding: 5px 10px;
    font-family: Oswald;
    font-size: 16px
}

span.__title::before,
span.dot_title::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--hover);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1
}

.__loop {
    width: 100%;
    list-style: none;
    margin-bottom: 20px
}

.___loop {
    margin-bottom: 25px
}

.___loop .loop_link {
    width: 100%;
    box-sizing: border-box;
    color: var(--link);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.silo_paginate .page-numbers,
form.sil_search button {
    background-color: var(--hover);
    color: var(--pt1);
    font-family: Oswald
}

.loop_link img {
    width: 100%;
    height: 220px
}

.loop_link .loop_body,
.silo_sidebar {
    width: 100%;
    box-sizing: border-box
}

span.metas {
    color: var(--bl3);
    font-family: Oswald;
    font-size: 12px
}

.loop_body .post_title {
    font-family: Oswald;
    font-size: 26px;
    margin: 8px 0;
    line-height: 30px
}

.loop_body p {
    font-size: 16px;
    color: var(--bl2);
    line-height: 1.7rem
}

.loop_link:hover .loop_body .post_title {
    color: var(--hover)
}

.loop_link:hover img {
    transition: .5s;
    opacity: .6
}

.silo_paginate {
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.silo_paginate .page-numbers {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 3px;
}

.silo_paginate span.current {
    background-color: var(--hover)
}

.widget_title {
    margin-bottom: 10px;
    width: 100%
}

.silo_recent_widgets,
form.sil_search {
    margin-bottom: 20px;
    box-sizing: border-box
}

form.sil_search {
    width: 100%;
    display: flex
}

form.sil_search input {
    width: 80%;
    height: 28px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--link)
}

form.sil_search input:focus {
    border: none
}

form.sil_search button {
    width: 20%;
    box-sizing: border-box;
    height: 28px;
    border: none;
    cursor: pointer;
    font-size: 16px
}

.silo_recent_widgets .recent_links {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 90px auto;
    grid-gap: 10px;
    margin-bottom: 10px
}

.recent_links img {
    width: 90px;
    height: 90px
}

.recent_body .recent_title {
    font-size: 16px;
    font-family: Oswald;
    line-height: 20px;
    margin-top: 5px
}

@media(max-width:780px) {
    .silo_looping {
        grid-template-columns: 1fr
    }

    .silo_sidebar {
        margin-top: 20px
    }

    .silo_recent_widgets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px
    }
}

@media(max-width:580px) {
    .silo_looping {
        grid-template-columns: 1fr
    }

    .___loop:first-child .loop_link,
    .silo_recent_widgets {
        display: block
    }

    .___loop:first-child .loop_link img {
        width: 100%;
        height: 200px
    }

    .___loop:first-child .loop_link .loop_body .post_title {
        font-size: 22px;
        line-height: 25px
    }

    .___loop .loop_link {
        grid-template-columns: 90px auto
    }

    .loop_link img {
        width: 90px;
        height: 90px
    }

    .loop_body .post_title {
        font-size: 16px;
        line-height: 20px
    }

    .loop_body p {
        display: none
    }

    .silo_paginate {
        width: 100%;
        box-sizing: border-box;
        margin-top: 30px
    }

    .silo_paginate .page-numbers {
        background-color: var(--link);
        padding: 5px 10px;
        color: var(--pt1);
        font-size: 15px;
        font-family: Oswald;
        border-radius: 3px
    }

    .silo_paginate span.current {
        background-color: var(--hover)
    }
}