.article_top .post_meta,
.article_top .the_cats,
.btn_tags,
.card-price,
.card-price .left,
.comment-body .comment-content,
.post-navigation,
.related__,
.right,
.silo_comments,
.silo_post,
.silo_recent_widgets,
.silo_recent_widgets .recent_links,
.silo_related,
.silo_single,
.the_content,
.the_content table,
.widget_title,
article.silo_article,
aside.silo_sidebar,
form.sil_search,
form.sil_search button,
form.sil_search input,
tbody {
    box-sizing: border-box;
    box-sizing: border-box
}

.article_top .the_cats,
.btn_tags,
.related__,
.widget_title,
form.sil_search {
    transform: skew(-10deg)
}

.article_top .single_img,
.comment-meta .comment-author img,
.post_meta .author_image,
.recent_links img,
.related_link .related_img {
    object-position: center;
    object-fit: cover
}

.silo_single {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px
}

.post-navigation,
.silo_comments {
    margin-top: 40px
}

.silo_post {
    width: 70%
}

article.silo_article {
    width: 100%;
    max-width: 100%
}

.article_top {
    margin-bottom: 25px;
    width: 100%
}

.article_top .the_cats {
    width: 100%;
    font-size: 14px;
    font-family: Oswald;
    margin-bottom: 25px
}

.the_cats .cats_link a {
    background-color: var(--hover);
    color: var(--pt1);
    padding: 7px 10px
}

.article_top .single_title {
    font-family: Anton;
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 50px;
    color: var(--link)
}

.article_top .post_meta {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px
}

.post_meta .author_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--bl3)
}

.card-price .left,
.post_meta .meta_right {
    display: flex;
    flex-direction: column
}

.meta_right .author_name,
.meta_right .date_publish {
    font-family: Oswald;
    color: var(--bl3);
    font-size: 14px;
    margin: 3px 0
}
.author_name a{
    color: var(--hover);
}

.article_top .single_img {
    width: 100%;
    height: 400px
}

.post-navigation,
.related_title::before,
.silo_comments,
.the_content,
span.dot_title::before,
tbody {
    width: 100%
}

.the_content ol,
.the_content p,
.the_content ul {
    font-size: 18px;
    line-height: 2rem;
    color: var(--bl3);
    margin-bottom: 30px;
    word-wrap: break-word
}

.comment-meta .comment-author a,
.comment-meta .comment-metadata a,
.nav-links .nav-next a,
.nav-links .nav-previous a,
.silo_comments a,
.the_content ol a,
.the_content p a,
.the_content table a,
.the_content ul a {
    color: var(--hover)
}

.the_content ul {
    list-style: square;
    margin-left: 25px
}

.the_content ol {
    list-style: decimal;
    margin-left: 25px
}

.the_content h2,
.the_content h3,
.the_content h4,
.the_content h5,
.the_content h6 {
    font-family: Anton;
    color: var(--bl2);
    letter-spacing: 1px;
    margin-bottom: 10px
}

.the_content h2 {
    font-size: 28px;
    line-height: 33px
}

.the_content h3 {
    font-size: 22px;
    line-height: 26px
}

.the_content h4 {
    font-size: 18px;
    line-height: 22px
}

.the_content h5 {
    font-size: 16px;
    line-height: 20px
}

.the_content h6 {
    font-size: 14px;
    line-height: 18px
}

.the_content p a img,
.the_content p img{
    width: 100%;
    height: auto;
    margin-bottom: -10px
}

.the_content table {
    width: 100%;
    margin-bottom: 30px;
    border: none
}

.the_content table thead {
    background-color: var(--bl3);
    color: var(--pt1)
}

table thead tr th {
    padding: 5px 10px;
    text-align: left;
    font-size: 18px
}

tbody tr td {
    padding: 5px 10px;
    border-bottom: 1px solid var(--link);
    font-size: 16px;
    line-height: 2rem;
    color: var(--bl2)
}

.IRPP_button,
.IRPP_button .centered-text-area,
.IRPP_button .postImageUrl {
    min-height: 86px;
    position: relative
}

.IRPP_button,
.IRPP_button:active,
.IRPP_button:hover,
.IRPP_button:visited {
    border: 0 !important
}

.IRPP_button {
    display: block;
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    width: 100%;
    opacity: 1;
    background-color: #141414
}

.IRPP_button:active,
.IRPP_button:hover {
    opacity: 1;
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms
}

.IRPP_button .postImageUrl {
    background-position: center;
    background-size: cover;
    float: right;
    margin: 0;
    padding: 0;
    width: 20%
}

.IRPP_button .centered-text-area {
    float: left;
    width: 80%;
    padding: 0;
    margin: 0
}

.IRPP_button .ctaText {
    border-bottom: 0 solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .125em;
    margin: 0;
    padding: 0
}

.IRPP_button .postTitle {
    color: #ecf0f1;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 100%
}

.IRPP_button .ctaButton {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin: 14px;
    -moz-border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 3px;
    width: 60px;
    position: absolute
}

.card-price,
.related__,
.right,
.silo_related,
.silo_toc,
.toc-title,
.widget_title {
    position: relative
}

.btn_tags .tags_title,
.silo-btn {
    color: var(--pt1);
    font-family: Oswald;
    font-size: 14px
}

.IRPP_button:hover .ctaButton {
    background: #16a085
}

.IRPP_button .centered-text {
    display: table;
    height: 86px;
    padding: 0;
    margin: 0;
    padding-left: 80px !important;
    top: 0
}

.IRPP_button .IRPP_button-content {
    display: table-cell;
    margin: 0;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: middle;
    width: 100%
}

.IRPP_button:after {
    content: "";
    display: block;
    clear: both
}

.silo-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center
}

button.silo-btn a {
    color: #fff
}

.silo-btn.black {
    background-color: #000
}

.silo-btn.blue {
    background-color: #161f9b
}

.silo-btn.green {
    background-color: #089c14
}

.silo-btn.orange {
    background-color: #eb6e1b
}

.btn_tags {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.btn_tags .tags_title {
    background-color: var(--link);
    padding: 5px 8px;
    margin-right: 5px
}

.btn_tags a {
    font-family: 'Oswald';
    white-space: nowrap;
    color: var(--hover);
    font-size: 16px;
}

.post-navigation .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font-family: Oswald;
    font-size: 20px;
    line-height: 25px
}

.nav-links .nav-previous {
    text-align: left
}

.nav-links .nav-next {
    text-align: right
}

.related__,
.related_link .related_body {
    text-align: center;
    font-family: Oswald
}

.list-comment {
    margin-left: 20px
}

.list-comment .comment {
    margin-bottom: 20px
}

.comment-body .comment-meta .comment-author {
    display: flex;
    gap: 5px;
    align-items: center;
    width: max-content;
    border-bottom: 1px solid var(--pt3);
    padding-bottom: 10px;
    margin-bottom: 10px
}

.comment-meta .comment-author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px
}

.related_title::before,
span.dot_title::before {
    content: '';
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1
}

.comment-meta .comment-metadata {
    margin-bottom: 10px;
    font-family: Oswald;
    font-size: 12px
}

.comment-body .comment-content {
    width: 100%;
    color: var(--bl3);
    line-height: 2rem;
    font-size: 17px
}

.comment-body .reply,
.price-lokasi,
.related_posts {
    margin-top: 10px
}

.comment-body .reply a {
    margin-top: 10px;
    color: var(--hover)
}

.silo_comments .comment-respond {
    margin-top: 20px
}

.comment-respond .comment-reply-title {
    font-family: Oswald;
    font-size: 20px;
    color: var(--bl3);
    margin-bottom: 10px
}

.comment-respond .comment-form .comment-form-comment {
    margin-top: 15px;
    display: flex;
    flex-direction: column
}

.comment-form-comment textarea {
    width: 100%;
    max-width: 600px
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin: 10px 0
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
    height: 25px
}

.comment-form input.submit {
    margin-top: 30px;
    border: none;
    background-color: var(--hover);
    color: var(--pt1);
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: Oswald
}

.related_title,
.related_title::before,
form.sil_search button,
span.dot_title,
span.dot_title::before {
    background-color: var(--hover)
}

.silo_related {
    width: 100%;
    margin-top: 20px
}

.related__ {
    width: 100%
}

.related_title {
    color: var(--pt1);
    padding: 7px 10px;
    font-size: 14px
}

.card-price,
.card-price .left,
.right {
    padding: 10px
}

.related_posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}

.related_link .related_img {
    width: 100%;
    height: 120px
}

.related_body .meta {
    color: var(--bl3);
    font-size: 12px
}

.related_body .related_post_title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px
}

.related_link:hover .related_img {
    opacity: .7
}

aside.silo_sidebar {
    width: 30%
}

.widget_title {
    margin-bottom: 10px;
    width: 100%
}

.silo_recent_widgets,
form.sil_search {
    margin-bottom: 20px
}

span.dot_title {
    color: var(--pt1);
    padding: 5px 10px;
    font-family: Oswald;
    font-size: 16px
}

form.sil_search {
    width: 100%;
    display: flex
}

form.sil_search input {
    width: 80%;
    height: 28px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--link)
}

form.sil_search input:focus {
    border: none
}

form.sil_search button {
    width: 20%;
    height: 28px;
    border: none;
    cursor: pointer;
    color: var(--pt1);
    font-family: Oswald;
    font-size: 16px
}

.silo_recent_widgets .recent_links {
    width: 100%;
    display: grid;
    grid-template-columns: 90px auto;
    grid-gap: 10px;
    margin-bottom: 10px
}

.recent_links img {
    width: 90px;
    height: 90px
}

.recent_body .metas {
    color: var(--bl3);
    font-size: 12px;
    font-family: Oswald
}

.recent_body .recent_title {
    font-size: 16px;
    font-family: Oswald;
    line-height: 20px;
    margin-top: 5px
}

@media(max-width:780px) {
    .silo_single {
        flex-direction: column
    }

    .silo_post {
        width: 100%
    }

    .post_meta .author_image {
        width: 35px;
        height: 35px
    }

    .article_top .single_img {
        width: calc(100% + 40px);
        margin-left: -20px;
        height: 400px;
        object-position: center;
        object-fit: cover
    }

    .post-navigation {
        display: none
    }

    .silo_comments {
        margin-bottom: 30px
    }

    .comment-form input.submit {
        margin-top: 30px;
        border: none;
        background-color: var(--hover);
        color: var(--pt1);
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        font-family: Oswald
    }

    .related_posts {
        grid-template-columns: repeat(2, 1fr)
    }

    .related_link .related_img {
        height: 150px
    }

    .related_link .related_body {
        text-align: left
    }

    aside.silo_sidebar {
        width: 100%;
        box-sizing: border-box
    }

    .silo_recent_widgets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px
    }
}

.price-harga .title,
.price-ongkir .title {
    font-size: 14px;
    margin-left: 5px
}

.card-price {
    width: 100%;
    display: grid;
    grid-template-columns: auto 200px;
    box-shadow: 10px 10px 10px #c0bfbf;
    margin-bottom: 20px;
    background-color: #f8f6f6;
    border-radius: 5px
}

.price-harga,
.price-lokasi,
.price-ongkir,
.right {
    display: flex
}

.price-icon img {
    height: 30px;
    width: auto
}

.price-produk {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px
}

.price-ongkir img {
    height: 20px;
    width: auto
}

.right {
    width: 100%;
    flex-direction: column
}

.price-harga img,
.price-lokasi img {
    width: 15px;
    height: 15px
}

.price-harga .title {
    font-family: Oswald, sans-serif;
    color: #16a085
}

.price-lokasi .title,
.right a button {
    font-size: 13px;
    font-family: Oswald, sans-serif
}

.price-lokasi .title {
    margin-left: 5px
}

.right a {
    position: absolute;
    bottom: 0;
    right: 0
}

.right a button {
    cursor: pointer;
    background: #168f77;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px
}

@media(max-width:580px) {

    .btn_tags,
    .silo_post {
        width: 100%
    }

    .article_top .the_cats,
    .meta_right .author_name,
    .meta_right .date_publish {
        font-size: 12px
    }

    .article_top .single_title {
        font-size: 28px;
        line-height: 33px
    }

    .post_meta .author_image {
        width: 35px;
        height: 35px
    }

    .article_top .single_img {
        height: 280px
    }

    .the_content ol,
    .the_content p,
    .the_content ul {
        font-size: 16px
    }

    .the_content p a img,
    .the_content p img{
        min-width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        height: auto;
        margin-left: -20px;
        margin-bottom: -20px
    }

    .the_content h2 {
        font-size: 26px;
        line-height: 31px
    }

    .the_content h3 {
        font-size: 20px;
        line-height: 24px
    }

    .the_content h4 {
        font-size: 17px;
        line-height: 20px
    }

    .the_content h5 {
        font-size: 16px;
        line-height: 18px
    }

    .the_content h6 {
        font-size: 14px;
        line-height: 18px
    }

    table thead tr th {
        padding: 5px 10px;
        text-align: left;
        font-size: 16px;
        font-weight: 400
    }

    .btn_tags {
        box-sizing: border-box;
        display: flex;
        transform: skew(-10deg);
        align-items: center;
        gap: 3px
    }

    .comment-form input.submit {
        font-size: 14px
    }

    .related_posts,
    .silo_recent_widgets {
        display: flex;
        flex-direction: column
    }

    .related_posts .related_link {
        display: grid;
        grid-template-columns: 90px auto;
        grid-gap: 10px
    }

    .related_link .related_img {
        width: 90px;
        height: 90px
    }

    .related_link .related_body {
        text-align: left
    }

    .card-price {
        grid-template-columns: 1fr
    }

    .price-produk {
        margin-bottom: -5px;
        font-size: 16px
    }

    .price-box,
    .price-lokasi {
        display: none
    }

    .silo_article .article_top img.attachment-post-thumbnail {
        width: calc(100% + 40px);
        height: auto;
        margin-left: -20px
    }
}

.the_content blockquote p {
    padding: 0 30px;
    font-style: italic
}

.the_content blockquote p::before {
    content: '\275D  ';
    color: var(--hover);
    font-size: larger
}

.the_content blockquote p::after {
    content: '  \275E';
    color: var(--hover);
    font-size: larger
}

.silo_toc {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    display: table;
    padding: 10px 20px;
    margin-bottom: 1.5em;
    width: auto
}

.tocNone {
    display: none
}

.toc-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.toc-title .this_toc {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700
}

.toc-title .silo_icon_toc {
    width: 25px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border: 1px solid #aaa;
    padding: 3px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px;
}

.silo_icon_toc span {
    width: 100%;
    background-color: #aaa;
    height: 2px;
    margin: 2px 0;
    align-items: center
}

#this_toc_counters {
    list-style: none;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0
}

#this_toc_counters li ul {
    list-style: none;
    margin-bottom: 2px
}

#this_toc_counters a {
    color: #655a53
}

#this_toc_counters a:hover {
    text-decoration: underline
}