#spek_meta_box .inside{
    font-family: 'Pt Serif' !important;
    font-size: 16px;
}
.spek_container .data_container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}
.spek_container .data_container label{
    width: 180px;
}
.spek_container .data_container input{
    width: 100%;
}

/* Fitur */
h3.fitu_hp_title{
    color: #f7a120;
    font-family: 'Oswald';
}
button#tambah-fitur{
    border: none;
    background-color: #f7a120;
    padding: .5rem 1rem;
    color: #fff;
    font-family: 'Oswald';
    cursor: pointer;
    border-radius: 3px;
}
li.fitur_list input{
    width: 90%;
}
button.hapus-fitur{
    background-color: red;
    color: #fff;
    border: none;
    padding: .4rem .7rem;
    cursor: pointer;
    border-radius: 3px;
    font-size: small;
}