@font-face {
    font-family: 'Anton';
    src: url('../../fonts/anton.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/oswald.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pt Serif';
    src: url('../../fonts/ptserif.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.silo_container{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;
}
.silo_container .silo_top_heading{
    font-family: 'Anton';
    letter-spacing: 2px;
    font-size: 30px;
}
.silo_container .this_silo_des{
    font-family: 'Pt Serif';
    font-size: 16px;
    color: #636161;
    margin-top: 20px;
    line-height: 2rem;
}
.silo_container .this_silo_des a{
    text-decoration: none;
    color: #0f9c45;
    font-weight: bold;
}
#slohonPreviewLogo{
    width: 100%;
    max-width: 380px;
    height: 80px;
    margin: 30px 0;
    background-position: center;
    background-size: cover;
}
.silo_form .form-table{
    font-family: 'Oswald';
}
.silo_form .form-table textarea{
    box-sizing: border-box;
    width: 500px;
    height: 120px;
    padding: 10px;
    font-family: 'Pt Serif';
    color: #6e6b6b;
    font-size: 16px;
    line-height: 2rem;
}
.is_silo_back_TOP,
.mob_sidebar,
.thi_lazy_ads,
.is_silo_thumbnails,
.is_silo_show_shares,
.is_silo_next_prev,
.is_related_post,
.s_aut,
.s_dat{
    width: 52px;
    height: 23px;
    background: url('../../build/image/checkbox.png') no-repeat;
}
.disabled{
    background-position: bottom;
}

.is_related_post input#related_post,
.is_silo_next_prev input#silo_next_prev,
.is_silo_back_TOP input#silo_backtop,
.mob_sidebar input#mobile_sidebar,
.thi_lazy_ads input#silo_lazy_load_ads,
.is_silo_thumbnails input#silo_thumbnails,
.is_silo_show_shares input#silo_show_shares,
.s_aut input#s_au,
.s_dat input#s_date{
    width: 52px;
    height: 23px;
    opacity: 0;
}
.form-table textarea#ca_pub{
    height: 40px;
    padding: 2px 10px;
}