.spin_container{
    max-width: 100%;
    width: 100%;
}
.spin_container h3{
    color: #e6962e;
    font-family: 'Oswald';
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}
.spin_container .spin_flex{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}
.spin_input_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.spin_input_text .spin_text_area{
    min-height: 80vh;
    padding: 1rem;
    font-family: 'Pt Serif';
    color: #333;
    font-size: 16px;
    line-height: 2rem;
}
.spin_input_text .spin_btn{
    border: none;
    background: #e6962e;
    color: #fff;
    font-family: 'Oswald';
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}
.spin_output_text{
    width: 100%;
    box-sizing: border-box;
}
.spin_output_box .paraphrase-output{
    width: 95%;
    padding: .5rem;
    font-family: 'Pt Serif';
    font-size: 14px;
    line-height: 1.5rem;
    color: #333;
    height: 150px;
    box-sizing: border-box;
}
.spin_dot_copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: .5rem;
}
.spin_dot_copy .spin_btn_output{
    border: none;
    background-color: #e6962e;
    color: #fff;
    font-family: 'Oswald';
    padding: .2rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}
.spin_dot_copy p{
    margin-right: 1.2rem;
}
.spin_dot_copy p #total-different-1,
.spin_dot_copy p #total-different-2,
.spin_dot_copy p #total-different-3,
.spin_dot_copy p #total-input-words-1,
.spin_dot_copy p #total-input-words-2,
.spin_dot_copy p #total-input-words-3{
    color: #e6962e;
}